
@model IEnumerable<decaf.Models.Medžiaga>

@{
    ViewData["Title"] = "Database";
}

<link rel="stylesheet" href="~/css/databasestyle.css" />
<!-- BODY -->
<!-- SECTION 5 -->
<section id="section5" class="section5">
    <div data-aos="zoom-in-down" class="cmid_container">
        <h1 class="dbtext">
            Database
        </h1>
        <p class="smalltext">Welcome to the database. In order to view its content, select the category and type in text filter if needed.</p><br><br>
        <div class="row" style="height: 700px;">
            <div class="col" style="padding-left: 100px;">
                <div class="filterbox">
                    <h1 style="text-align: center; font-size: 20px; padding-bottom: 20px;">Search</h1>
                    <p>Select category:</p>

                    <form method="post" asp-controller="database" asp-action="ShowDB">
                        @Html.DropDownList("Psl", new List<SelectListItem>
                        {
                            new SelectListItem{ Text="Please select", Value = "Database"},
                            new SelectListItem{ Text="Gamintojai", Value = "gamintojai"},
                            new SelectListItem{ Text="Modeliai", Value = "modeliai" },
                            new SelectListItem{ Text="Dizaineriai", Value = "dizaineriai" },
                            new SelectListItem{ Text="Avalynė", Value = "avalyne"},
                            new SelectListItem{ Text="Medžiagos", Value = "medziagos", Selected=true  },
                            new SelectListItem{ Text="Naudoja", Value = "naudoja"},
                            new SelectListItem{ Text="Samdo", Value = "samdo"},
                        })
                        <br><br>ID search (optional):<br><br>@Html.TextBox("id")<br><br>
                        <input type="submit" value="Search" class="button-1" />
                    </form>
                </div>

                <div class="addbox">
                    <h1 style="text-align: center; font-size: 18px; ">Missing something? Add it!</h1>
                    <div class="centerbutton">
                        <button class="button-1" role="button" onclick="location.href='@Url.Action("add", "Medziagos")'">Add a material</button>
                    </div>

                </div>
            </div>

            <div class="col" margin-right: 50px;">

                <p style="text-align:center; color:red;"><strong>@TempData["Err"]</strong></p>
                <table id="tablee" border="1" cellpadding="2" cellspacing="6" style="border: 2px solid; border-width: thick; width: 350px;">
                    <thead>
                        <tr style="background-color: #058ED9">
                            <th>
                                @Html.DisplayNameFor(model => model.Pavadinimas)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tipas)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Apdirbimas)
                            </th>
                            <th>
                                ID
                            </th>
                            <th>
                                Actions
                            </th>


                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Pavadinimas)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tipas)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Apdirbimas)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdMedžiaga)
                                </td>
                                <td>
                                    <a asp-controller="medziagos" asp-action="edit" asp-route-id="@item.IdMedžiaga">Edit</a>
                                    <a asp-controller="medziagos" asp-action="delete" asp-route-id="@item.IdMedžiaga" onclick="return confirm('Are you sure you want to delete this database entry?')">Delete</a>
                                </td>

                            </tr>
                        }
                    </tbody>

                </table>
                Items shown: @ViewBag.Count

            </div>
        </div>
        <div class="lefttpanel" style="padding-left: 50px;">
            <p>Need help? <a href=@Url.Action("index", "Contact")>Contact</a> us.</p>
        </div>
    </div>

</section>